nodered/Labs/mcu_mqtt.json
[
    {
        "id": "135c844ffdf4dba1",
        "type": "tab",
        "label": "MCU_MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d7b2f6ea.feff98",
        "type": "mqtt out",
        "z": "135c844ffdf4dba1",
        "name": "Temperature",
        "topic": "esp/temp",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f120e0bb4bb4c398",
        "x": 670,
        "y": 140,
        "wires": []
    },
    {
        "id": "9c13eb43.904dc8",
        "type": "mqtt in",
        "z": "135c844ffdf4dba1",
        "name": "Temperature",
        "topic": "esp/temp",
        "qos": "2",
        "datatype": "auto",
        "broker": "f120e0bb4bb4c398",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 290,
        "y": 340,
        "wires": [
            [
                "5359c531.39eb7c"
            ]
        ]
    },
    {
        "id": "dd470f2d.f62e5",
        "type": "inject",
        "z": "135c844ffdf4dba1",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 200,
        "wires": [
            [
                "d7b2f6ea.feff98",
                "a0165aae.c40198"
            ]
        ]
    },
    {
        "id": "a0165aae.c40198",
        "type": "mqtt out",
        "z": "135c844ffdf4dba1",
        "name": "Humidity",
        "topic": "esp/humi",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f120e0bb4bb4c398",
        "x": 660,
        "y": 220,
        "wires": []
    },
    {
        "id": "59ab98a1.dce3f8",
        "type": "mqtt in",
        "z": "135c844ffdf4dba1",
        "name": "Humidity",
        "topic": "esp/humi",
        "qos": "2",
        "datatype": "auto",
        "broker": "f120e0bb4bb4c398",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 280,
        "y": 420,
        "wires": [
            [
                "372c60e5.51a1a"
            ]
        ]
    },
    {
        "id": "98e95b31.5ffeb8",
        "type": "ui_switch",
        "z": "135c844ffdf4dba1",
        "name": "LAMP",
        "label": "Lamp",
        "tooltip": "",
        "group": "69fe1f2e.c59c9",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "/CSU/lamp",
        "topicType": "str",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 320,
        "y": 80,
        "wires": [
            [
                "c1aea5bd.103f78"
            ]
        ]
    },
    {
        "id": "c1aea5bd.103f78",
        "type": "mqtt out",
        "z": "135c844ffdf4dba1",
        "name": "Lamp",
        "topic": "esp/lamp",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f120e0bb4bb4c398",
        "x": 640,
        "y": 80,
        "wires": []
    },
    {
        "id": "5359c531.39eb7c",
        "type": "ui_chart",
        "z": "135c844ffdf4dba1",
        "name": "",
        "group": "69fe1f2e.c59c9",
        "order": 1,
        "width": "5",
        "height": "3",
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 760,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "372c60e5.51a1a",
        "type": "ui_gauge",
        "z": "135c844ffdf4dba1",
        "name": "Humidity",
        "group": "69fe1f2e.c59c9",
        "order": 2,
        "width": "5",
        "height": "3",
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "70",
        "x": 770,
        "y": 420,
        "wires": []
    },
    {
        "id": "f120e0bb4bb4c398",
        "type": "mqtt-broker",
        "name": "MQTTGO",
        "broker": "https://broker.mqttgo.io/",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "69fe1f2e.c59c9",
        "type": "ui_group",
        "name": "ESP32",
        "tab": "18103a56.bc13a6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "18103a56.bc13a6",
        "type": "ui_tab",
        "name": "MCU",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]